#name-and-slogan #site-slogan {
  font-family: Tahoma,Geneva,Sans-Serif;
  font-style: normal;
  text-align: center;
  background-color: #050005;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
}

